.logout-user-link:hover {
    cursor: pointer;
}

.error-span-message {
    color: red;
    font-style: italic;
}

.table-teacher-schedule {
    margin-bottom: 0px;
}

.week-range-text {
    padding-top: 10px;
    padding-left: 10px; 
}

.pagination-schedule {
    padding-top: 10px;
    padding-right: 10px;
}

.td-schedule {
    text-align: left;
}

.schedule-span, .lesson-span {
    font-weight: bold;
}

.badge-calendar {
    margin: 5px;
    display:block; 
    white-space: normal; 
    word-wrap:break-word;
}

.profile-user-img {
    height: 100px;
}

.disable_admin {

}

.disable_click_td {
    background: #868f96;
    cursor: auto;
}

.enable_click_td {
    background: #d1d5db;;
    cursor: hand;
}