.error-span-message {
    color: red;
    font-style: italic;
}

.table-teacher-schedule {
    margin-bottom: 0px;
}

.week-range-text {
    padding-top: 10px;
    padding-left: 10px; 
}

.pagination-schedule {
    padding-top: 10px;
    padding-right: 10px;
}

.td-schedule {
    text-align: left;
}

.schedule-span, .lesson-span {
    font-weight: bold;
}

.badge-calendar {
    display:block; 
    white-space: normal; 
    word-wrap:break-word;
}